
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/_Layout2.cshtml";
}

<div class="contact-area pt-115 pb-120">
    <div class="container">
        <div class="contact-info-wrap-3 pb-85">
            <h3>Thông tin liên hệ</h3>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="single-contact-info-3 text-center mb-30">
                        <i class="icon-location-pin "></i>
                        <h4>Cafe Team</h4>
                        <p>362/5b Gia Phú, Phường 3, Quận 6, Tp. HCM. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-contact-info-3 extra-contact-info text-center mb-30">
                        <ul>
                            <li><i class="icon-screen-smartphone"></i> (+84) 0936560299 </li>
                            <li><i class="icon-envelope "></i> <a href="#"> cafeteam@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-contact-info-3 text-center mb-30">
                        <i class="icon-clock "></i>
                        <h4>Giờ mở cửa</h4>
                        <p>Thứ 2 - Chủ nhật: 9:00sa - 5:00ch </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
