@model IEnumerable<Test2.Models.SanPham>


<div class="product-slider-active dot-style-2 dot-style-2-position-static dot-style-2-mrg-1 dot-style-2-active-black">
    @foreach (var Recom in Model)
    {
        if (Recom.Status == true)
        {
            <div class="product-plr-1">
                <div class="single-product-wrap mb-35">
                    <div class="product-img product-img-zoom mb-20">
                        <a href="@Url.RouteUrl("XemChiTiet", new { id = Recom.MaSP, @tensp = Recom.TenSP })">
                            <img alt="@Recom.TenSP" src="~/images/CafeProduct/@Recom.HinhAnh" width="270" height="340" />
                        </a>
                    </div>
                    <div class="product-content-2 text-center">
                        <h3><a href="@Url.RouteUrl("XemChiTiet", new { id = Recom.MaSP, @tensp = Recom.TenSP })"><span class="blod">@Recom.TenSP</span>@*<span class="available-product">(56)</span>*@</a></h3>
                    </div>
                </div>
            </div>
        }
    }
</div>
