
@{
    ViewBag.Title = "Email Thông báo";
    Layout = "~/Views/_Layout2.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />

<div class="product-area pt-115 pb-110">
    <div class="container">
        <div class="section-title-2 text-center mb-45">
            <h2>Chúng tôi đã gửi mật khẩu mới đến mail của bạn <br /> Vui lòng kiểm tra mail và cập nhập mật khẩu mới </h2>
            <img src="https://s3-ap-southeast-1.amazonaws.com/blog.internshala.com/wp-content/uploads/2020/08/Email-writing1.jpg" alt="" style="width:40%; padding-left: 100px">
        </div>
        
    </div>
</div>