
@{
    ViewBag.Title = "Quá đơn";
    Layout = "~/Views/_Layout2.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />

<div class="container">
    <div class="text-center xacnhan-donhang">
        <h2><span>Cảm ơn bạn đã mua hàng tại tiệm chúng tôi</span></h2><br />
        <h2> Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể :3</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/06/Tr%C3%BAc_Anh_%E2%80%93_M%E1%BA%AFt_bi%E1%BA%BFc_BTS_%282%29.png" style="width:500px; height:500px" />
    </div>
</div>