
@{
    ViewBag.Title = "Xác nhận";
    Layout = "~/Views/_Layout2.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />

<div class="container">
    <div class="text-center xacnhan-donhang">
        <h2><span>Cảm ơn bạn đã mua hàng tại tiệm chúng tôi</span></h2><br/>
        <h2> Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể :3</h2>
        <img src="https://trustsales.vn/image/ed3ea862190620191559038616.png?width=600" style="width:500px; height:500px"/>
    </div>
</div>