
@{
    ViewBag.Title = "Xác nhận";
    Layout = "~/Views/_Layout2.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />

<div class="container">
    <div class="text-center xacnhan-donhang">
        <h2><span>Cảm ơn bạn đã mua hàng</span></h2>
    </div>
</div>