
@{
    ViewBag.Title = "Xác nhận";
    Layout = "~/Views/_Layout2.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <h1 class="text">
            <br/>
            Cảm ơn bạn đã mua hàng tại shop chúng tôi.<br>

            Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể.
        </h1>
        <img src="https://thegioitaisan.com/wp-content/uploads/giao-hang.jpg" alt="" style="width:90%; padding-left: 300px">

    </div>
    </div>